
.DS_Store
*.aux
*.log
*.gz
*.toc
*.bcf
Lecture_Notes/QuantumFieldTheory/chapters/Chap1.pdf
*.xml
*.bbl
*.blg
Lecture_Notes/HamiltonianMechanics/chapters/Chap0.pdf
Lecture_Notes/GeneralRelativity/chapters/Chap1.pdf
Lecture_Notes/QuantumFieldTheory/chapters/Chap2.pdf
Lecture_Notes/GeneralRelativity/chapters/Chap2.pdf
Lecture_Notes/QuantumFieldTheory/chapters/Chap3.pdf
Lecture_Notes/AlgebraicGeometry/chapters/Chap1.pdf
Lecture_Notes/QuantumFieldTheory/exercises/ex1.pdf
Lecture_Notes/QuantumFieldTheory/exercises/ex1.nb
Lecture_Notes/GeneralRelativity/chapters/Chap3.pdf
Lecture_Notes/GeneralRelativity/chapters/Chap4.pdf
*.out
Lecture_Notes/GeneralRelativity/chapters/Chap5.pdf
Lecture_Notes/NPQFT/chapters/Chap4.pdf
Lecture_Notes/NPQFT/chapters/Chap3.pdf
Lecture_Notes/NPQFT/chapters/Chap2.pdf
Lecture_Notes/NPQFT/chapters/Chap1.pdf
Lecture_Notes/GeneralRelativity/main/toc_slides.pdf
