
.DS_Store
*.aux
*.log
*.gz
*.toc
*.bcf
Lecture_Notes/QuantumFieldTheory/chapters/Chap1.pdf
*.xml
*.bbl
*.blg
Lecture_Notes/HamiltonianMechanics/chapters/Chap0.pdf
Lecture_Notes/GeneralRelativity/chapters/Chap1.pdf
Lecture_Notes/QuantumFieldTheory/chapters/Chap2.pdf
Lecture_Notes/GeneralRelativity/chapters/Chap2.pdf
Lecture_Notes/QuantumFieldTheory/chapters/Chap3.pdf
Lecture_Notes/AlgebraicGeometry/chapters/Chap1.pdf
